*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: #000000;
    color: #fff;
}

body{
    background-color: #000000;
    color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    text-align: left;
}

.container {
    height: 100vh;
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
}

.logo img{
    width: 8.5rem;
    margin-left: -745px;
}

h1{
    font-size: 24px;
}

form{
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.l{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
}

.btEntrar{
    text-decoration: none;
    color: #fff;
}

.lemb{
    display: flex;
    gap: 5px;
}

.barra{
    background-color: rgb(132, 0, 255);
    height: 5px;
    width: 210px;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

button{
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 10px;
}
.button:active {
    background-color: #03010e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }