* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Helvita Neue', Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #FFF
}



.container {
    height: 100vh;
    background-image: linear-gradient(to bottom rgba(56, 2, 99) 0%, rgba(58, 3, 100), 1);
    ;
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
}

.hero {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 3rem;
}

.header{
    display: flex;
    align-items: centeer;
}

.logo img{
    width: 5.8rem;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu-left,
.menu-right {
    display: flex;
    color: #ffffff;
    font-size: 0.875rem;

}

.menu ul {
    display: flex;
    list-style: none;
    align-items: center;display: flex;
    list-style: none;
    align-items: center;
}


.menu .user img {
    width: 2rem;
    margin-right: 0.5rem;
}

.menu .user {
    display: flex;
    align-items: center;
}

.menu i {
    font-size: 20px;

}
.menu-right ul li {
    padding-right: 1.5rem;
}
.banner {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.banner .poster {
    width: 450px;
}

.banner .subtitle {
    font-size: 1.25rem;
    color: #FFF;
    line-height: 1.25;
    padding-top: 0.50rem;
}
.buttons {
    margin-top: 2rem;
}
.buttons .btn {
    color: #000000;
    padding: 0.6rem 2rem;
    margin-right: 0.75rem;
    font-weight: 600;
    border-radius: 0.125rem;
    background: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 100%;
    border: 0;
}
.buttons .btn i {
    margin-right: 0.5rem;
}



.menu ul li{
    padding-right: 0.9rem;
}

.menu .user img{
    width: 2rem;
    
}













/*GRAUMINEIRO CSS*/
/*.container {
    background-color: var(--botao-roxo-efeito);
    color: var(--cor-de-fundo);

}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }
}

.container__imagem {
    width: 50vw;
}

.container__caixa {
    margin: 2em 2em;
}


.secundario {
    margin: 0;
    text-align: center;
}


.segndario__ima*/
/* rodapé, parte do rianzynn*/

.footer {
    margin: 100px auto 0;
    width: 80%;
    color: #808080;
}

.footer .social i {
    padding-right: 26px;
    font-size: 28px;
}

.flex {
    display: flex;
    padding-bottom: 80px;
}

.footer .info {
    width: 25%;
}

.footer .info ul {
    list-style: none;
    display: inline;
    font-size: 13px;
}

.footer .info ul li {
    margin-top: 8px;
}

fgem {
    width: 50vw;
}